{{extend 'layout.html'}}
<body>
    <div id="target"></div>
</body>

<script id="template" type="text/ractive">
<div class="headers"><h2>Messages with {{=name}}:</h2></div>
<div style="float: left" class="user_btn">
  {{=A('Home', _class='btn btn-default btn-md', _href=URL('default', 'home'))}}
</div>
<div style="float: left" class="user_btn">
{% #if imglist_visible %}
    <input class="btn btn-primary" type="submit" value="Collapse Pictures" on-click="toggle_imglist"/>
{% else %}
    <input class="btn btn-primary" type="submit" value="Show Pictures" on-click="toggle_imglist"/>
{% /if %}
</div>
<div id="img_select">
<div id="img_scroll">
<ul>
    {% #image_dict:name %}
        <li style="text-align: left; margin: 5px;">
        <div data-img="{% id %}" on-click="img_send">
        <img width="100px" src="{% download_url %}/{% image %}" />
        </div>
        </li>
    {% /image_dict %}
    <li style="text-align: left; margin: 5px;">
        <a target="_blank" href="{{=URL('default', 'upload')}}" style="text-align: left;">upload an image</a>
    </li>
</ul>
</div>
</div>
<div id="message_bar">
<textarea id="message_textarea" value="{% message_draft %}" rows="1" />
</div>
<div id="message_list">
  {% #message_dict:msg_id %}
      {% #if sent %}
        <div class="sent_message">
            <p>{% msg %}</p>
            {% #if img != null %}
            <img width="300px" src="{% download_url %}/{% img.image %}" />
            {% /if %}
        </div>
       {% else %}
        <div class="received_message">
            <p>{% msg %}</p>
                {% #if img != null %}
                <img width="300px" src="{% download_url %}/{% img.image %}" />
                {% /if %}
        </div>
       {% /if %}
  {% /message_dict %}
</div>
</script>

<script>
$(function() {

  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      message_dict: {},
      message_draft: "",
      recipient: "{{=messaging}}",
      image_dict: {},
      download_url: '{{=URL('download')}}',
        imglist_visible: false,
        loading: true
    }
  });


  function load_messages() {
  $.ajax("{{=URL('default', 'load_messages', args=[messaging], user_signature=True)}}",
          {
            method: 'POST',
            success: function (data) {
                var oldkeys = Object.keys(MAIN.get('message_dict')).length;
                MAIN.set('message_dict', data['message_dict']);
                if (MAIN.get('loading') == true) {
                    $("#message_list").scrollTop($("#message_list")[0].scrollHeight);
                    MAIN.set('loading', false);
                }
                var newkeys = Object.keys(MAIN.get('message_dict')).length;
                if (newkeys > oldkeys) {
                    $("#message_list").stop().animate({scrollTop: $("#message_list")[0].scrollHeight}, 500);
                }
            }
          }
  );}
    load_messages();

  function send_message(message) {
    $.ajax("{{=URL('default', 'add_message', user_signature=True)}}",

            {
              data: {
                msg: message,
                recipient: parseInt(MAIN.get('recipient'))
              },
              method: 'POST',
              success: function() {
                // Reflect in the list of messages the update sent to the server.
                var message_dict = MAIN.get('message_dict');
                message_dict[generateUUID()] = {
                    msg: message,
                    img: null,
                    sent: true
                };
                MAIN.set('message_dict', message_dict);
                  // from http://stackoverflow.com/questions/270612/scroll-to-bottom-of-div
                $("#message_list").stop().animate({scrollTop: $("#message_list")[0].scrollHeight}, 500);
              },
              error: function(jqxhr, textStatus, errorThrown) {
              }
            }
    );
  }

    function try_message() {
     var message = MAIN.get('message_draft');
     if ($.trim(message).length > 0) {
       send_message(message);
       MAIN.set('message_draft', '');
     }
    return false;
   }

  function send_image(img) {
    $.ajax("{{=URL('default', 'add_img_message', user_signature=True)}}",

            {
              data: {
                img: img,
                recipient: parseInt(MAIN.get('recipient'))
              },
              method: 'POST',
              success: function() {
                load_messages();
                  // from http://stackoverflow.com/questions/270612/scroll-to-bottom-of-div
                $("#message_list").stop().animate({scrollTop: $("#message_list")[0].scrollHeight}, 500);
              },
              error: function(jqxhr, textStatus, errorThrown) {
              }
            }
    );
  }

  // This code is called when the send button is pressed
  MAIN.on("newmessage", function() {
      try_message();
  });

    MAIN.on("img_send", function(e) {
        var img = $(e.node).data("img");
        send_image(img);
    });

    $("div#img_scroll").hide();
    MAIN.on("toggle_imglist", function(e) {
        $("div#img_scroll").toggle();
        MAIN.set('imglist_visible', !(MAIN.get('imglist_visible')));
    });
  function load_images() {
  $.ajax("{{=URL('default', 'load_images', user_signature=True)}}",
          {
            method: 'POST',
            success: function (data) {
                MAIN.set('image_dict', data['images']);
            }
          }
  );}
  load_images();

      // http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
  function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now(); //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }

  $("#message_textarea").keypress(function(event) {
      if (event.which == 13) {
          event.preventDefault();
          try_message();
      }
  });

  setInterval(load_messages, 1000);
});

</script>