<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{for user in db(db.auth_user.id > 0).select():}}
    <p>{{=user.screenname}}: {{=user.id}}</p>
    <p>Fluent:
    {{if user.fluent.Arabic:}}
        Arabic 
    {{pass}}
    {{if user.fluent.Chinese:}}
        Chinese 
    {{pass}}
    {{if user.fluent.Danish:}}
        Danish 
    {{pass}}
    {{if user.fluent.English:}}
        English 
    {{pass}}
    {{if user.fluent.French:}}
        French 
    {{pass}}
    {{if user.fluent.German:}}
        German 
    {{pass}}
    {{if user.fluent.Italian:}}
        Italian 
    {{pass}}
    {{if user.fluent.Japanese:}}
        Japanese
    {{pass}}
    </p>

    <p>Learning:
    {{if user.learning.Arabic:}}
        Arabic 
    {{pass}}
    {{if user.learning.Chinese:}}
        Chinese 
    {{pass}}
    {{if user.learning.Danish:}}
        Danish 
    {{pass}}
    {{if user.learning.English:}}
        English 
    {{pass}}
    {{if user.learning.French:}}
        French 
    {{pass}}
    {{if user.learning.German:}}
        German 
    {{pass}}
    {{if user.learning.Italian:}}
        Italian 
    {{pass}}
    {{if user.learning.Japanese:}}
        Japanese
    {{pass}}
    </p>
    <br>
{{pass}}
</body>
</html>
