<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Fluent languages:</h2>
<p>Arabic: {{=f.Arabic}}</p>
<p>Chinese: {{=f.Chinese}}</p>
<p>Danish: {{=f.Danish}}</p>
<p>English: {{=f.English}}</p>
<p>French: {{=f.French}}</p>
<p>German: {{=f.German}}</p>
<p>Italian: {{=f.Italian}}</p>
<p>Japanese: {{=f.Japanese}}</p>

<h2>Learning languages:</h2>
<p>Arabic: {{=l.Arabic}}</p>
<p>Chinese: {{=l.Chinese}}</p>
<p>Danish: {{=l.Danish}}</p>
<p>English: {{=l.English}}</p>
<p>French: {{=l.French}}</p>
<p>German: {{=l.German}}</p>
<p>Italian: {{=l.Italian}}</p>
<p>Japanese: {{=l.Japanese}}</p>
</body>
</html>