{{extend 'layout.html'}}
<div class="headers">
<h1 id="descr_h1" align= center>What is LangEx?</h1>
</div>

<hr>
    
<body id="descr_body" align=center>
<div id='descr_intro'>
    Intro Description
</div>
<div id='descr_pic'>
    [pic]
</div>
<div id='descr_more'>
    More description about features
</div>
<div id='descr_langlist'>
    <ul>
        <li>English</li>
        <li>Spanish</li>
        <li>French</li>
        <li>more to come!</li>
    </ul>
</div>
<div id='user_button'>
    {{=A('Get Started!',  _class='btn btn-default btn-md round', _href=URL('default', 'user', args=['register'],
        vars=dict(_next=URL('default', 'init_user'))))}}
</div>
</body>
