{{extend 'layout.html'}}
<div class="headers">
   <h1>HomeDash</h1>
</div>
<hr class="thin_line">

<div class="match_users">
    Matched Users:
    {{for match_name, match_to, match_from in matches:}}
        <p>{{=match_name}}, knows 
            {{for lang in match_to:}}
            {{=lang}}, 
            {{pass}}
            wants 
            {{for lang in match_from:}}
            {{=lang}}, 
            {{pass}}</p>
    {{pass}}
</div>


<hr class="drop_shadow">
<div class="user_btn">
  {{=A('Change Settings', _class='btn btn-default btn-md', _href=URL('default', 'settings'))}}
</div>

<div class="user_btn">
  {{=A('Logout', _class='btn btn-default btn-md', _href=URL('default', 'user', args='logout'))}}
</div>
