{{extend 'layout.html'}}
<div class="headers">
   <h1>HomeDash</h1>
</div>
<hr class="thin_line">

<div class="match_users">
    Users matched:
    {{for match in match_names:}}
        <p>{{=match}}</p>
    {{pass}}
</div>


<hr class="drop_shadow">
<div class="user_btn">
  {{=A('Change Settings', _class='btn btn-default btn-md round', _href=URL('default', 'settings'))}}
</div>

<div class="user_btn">
  {{=A('Logout', _class='btn btn-default btn-md round', _href=URL('default', 'user', args='logout'))}}
</div>
