{{extend 'layout.html'}}
<div class="headers">
   <h1>HomeDash</h1>
</div>
        <h3>Welcome {{=auth.user.first_name}}</h3>
<hr class="thin_line">

<div id="match_users">
    <h3>Matched Users:</h3>
    <table class="match_table" align="center">
        <!-- Title row for the table -->
        <tr id="match_col">
            <td>Name</td>
            <td>Knows</td>
            <td>Wants to learn</td>
        </tr>
        <!-- Where the magic happens -->
        <!-- Rows for each match - match_to is a list of languages they know that you want to learn,
            match_from is a list of languages you know that they want to learn -->
        {{for match_name, match_to, match_from, match_id in matches:}}
        <tr id="match_row">
            <td><a href="{{=URL('default', 'chat_win', args=[match_id], user_signature=True)}}">{{=match_name}}</a></td>
            <td>
                <div id="match_list">
                <ul> <!-- If there are more than 3 languages they know that you want to learn, list 3 then put the ... -->
                    {{if len(match_to) > 3:}}
                        <li>{{=match_to.pop(0)}}</li>
                        <li>{{=match_to.pop(0)}}</li>
                        <li>{{=match_to.pop(0)}}</li>
                        <p>...</p>
                    <!-- Otherwise list them all -->
                    {{else:}}
                        {{for lang in match_to:}}
                            <li>{{=lang}}</li>
                        {{pass}}
                    {{pass}}
                </ul>
                </div>
            </td>
            <td>
                <!-- Same thing -->
                <div id="match_list">
                <ul>
                    {{if len(match_from) > 3:}}
                        <li>{{=match_from.pop(0)}}</li>
                        <li>{{=match_from.pop(0)}}</li>
                        <li>{{=match_from.pop(0)}}</li>
                        <p>...</p>
                    {{else:}}
                        {{for lang in match_from:}}
                            <li>{{=lang}}</li>
                        {{pass}}
                    {{pass}}
                </ul>
                </div>
            </td>
        </tr>
        {{pass}}
    </table>
</div>


<hr class="thin_line">
<div class="user_btn">
  {{=A('Change Profile', _class='btn btn-default btn-md', _href=URL('default', 'user', args='profile'))}}
</div>

<div class="user_btn">
  {{=A('Logout', _class='btn btn-default btn-md', _href=URL('default', 'user', args='logout'))}}
</div>
