{{extend 'layout.html'}}
<!-- Header w/ title and logo -->
<header class="container-fluid background">
  <div class="jumbotron text-center">
  {{if response.title:}}
  <h1>Language Exchange
    <small>{{=response.subtitle or ''}}</small></h1>
  {{pass}}
  </div>
</header>

<div align="center">
    <a href="{{=URL('default', 'descr')}}"><u>What is LangEx?</u></a>
</div>

<!-- Sign Up and Log In Buttons -->
  <div class="signin">
    {{=A('Sign Up', _class='btn btn-warning', _href=URL('default', 'user', args=['register'],
        vars=dict(_next=URL('default', 'init_user'))))}}
  </div>
  <div class="signin">
    {{=A('Log In', _class='btn btn-success', _href=URL('default', 'user', args=['login']))}}
  </div>
