{{extend 'layout.html'}}


<div class="logo_front" align="center">
   <img id= "logo" src="{{=URL('static','images', args='langex-logo.jpg')}}" /> 
</div>


<body id= "index_body" align="center">
  <div id="descr_link">
    <a href="{{=URL('default', 'descr')}}"><u>What is LangEx?</u></a>
  </div>

<!-- Sign Up and Log In Buttons -->
  <div class="user_btn">
    {{=A('Sign Up', _class='btn btn-default btn-md round', _href=URL('default', 'user', args=['register'],
        vars=dict(_next=URL('default', 'init_user'))))}}
  </div>
  <div class="user_btn">
    {{=A('Log In', _class='btn btn-default btn-md round', _href=URL('default', 'user', args=['login']))}}
  </div>
</body>
