a, a:active {
    color: #88b851;
}

a:hover {
    color: #e6f1da;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #FBFEFD;
    color:#5c7f34;
    text-align: center;
}

h1, h2 {
    text-align: center;
    padding-top:1.25em;
    color: #FFFFFF;
    font-size:3em;
    letter-spacing:6px;
    word-spacing: 10px;
}

div.headers {
    background-color:#88b851;
    height:125px;
    width:100%;
    border-radius:500px 500px 50px 50px;
}

hr.thin_line{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #88b851, #ccc);
}

hr.drop_shadow{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

div.logo_front {
    margin-left:auto;
    margin-right:auto;
    height:400px;
    width:500px;
    background-color:#79bf4a;
    border-radius:100px 100px 100px 100px;
}

#logo {
    padding-top:1.55em;
    height: auto;
    width: auto;
    max-width: 425px;
    max-height: 425px;
}

#descr_link{
    color:#88b851;
    font-size:large;
    margin:2em;
}

#descr_intro{
    margin-left:100px;
    margin-right:100px;
    padding-bottom:1.55em;
    text-align:justify;
}

#descr_pic{
    padding-bottom:1.55em;
}

#descr_more{
    font-size:1.75em;
}

#descr_langlist{
    width:200px;
    margin:0 auto;
    margin-bottom: 125px;
    margin-left: 41%;
    padding-top:0.25em;
    text-align:left;
}

#lang_link{
    text-align:left;
    margin-left:10.5em;
}

ul{
    list-style-type: circle;
}



#match_list{
    width:200px;
    margin:0 auto;
    text-align:left;
}

/* table customization */

table.match_table {
    border-collapse: separate
    border-spacing: 0;
    padding: 20px;
    width:60%;
}

.match_table tr{

}

.match_table td{
    border-radius:30px;
    border-bottom: 5px solid #FBFEFD;
}

.match_table td:nth-child(1) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.match_table td:nth-child(2) {
    border-left: 3px solid #c2dba4;
    border-right: 3px solid #c2dba4;
    border-radius: 0px;
}

.match_table td:nth-child(3) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.match_table tr:first-child td:nth-child(1){
    border-bottom-left-radius: 10px;
}

.match_table tr:first-child td:nth-child(2){
    border-left: none;
    border-right: none;
    text-indent:-3em;
}

.match_table tr:first-child td:nth-child(3){
    border-bottom-right-radius: 10px;
}

#match_col {
    color:#FBFEFD;
    height:55px;
    background-color:#88b851;
    border: none;
    font-size:1.6em;
    border-radius: 0px;
}

#match_row {
    height:90px;
    background-color:#dae9c9;
}


/* form customization */

div.language_form {
    margin-left:6em;
    font-size:125%;
}

div.container{
    padding-top:2em;
    padding-left:25%;
    color:#5c7f34;
}

/* button customization */
div.user_btn {
    margin: 10px 0px 0px 35px;
}

.btn{
    border: 0 none;
    font-weight: 350;
    letter-spacing: 1px;
    margin: 10px 25px 0px -20px;
    padding: 15px 20px;
    text-transform: uppercase;
}

.btn-default{
    background: #618637;
    color: #ffffff;
    border-radius: 20px;
}

.btn-default:hover{
    background: #adce87;
    color:#ffffff;
}

.btn-default:focus{
    outline:0 !important;
    background: #adce87 !important;
    color:#ffffff !important;
}

/* chat window */
div.sent_message {
    background: rgba(205, 239, 186, 0.81);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: right;
}

div.received_message {
    background: rgba(225, 225, 225, 0.81);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
}

textarea {
    resize: none;
}

#message_bar {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 96%;
    height: 80px;
}

#message_textarea {
    width: 100%;
}

div#message_list {
    position: fixed;
    top: 250px;
    bottom: 100px;
    width: 80%;
    margin-left: 20%;
    padding-right: 30px;
    overflow-y: auto;
}

#message_send_btn {
    position: fixed;
    bottom: 100px;
    left: 2%;
}

div#img_select {
    float: left;
    position: fixed;
    top: 300px;
    bottom: 100px;
    width: 100%;
    padding-right: 80%;
    overflow-y: auto;
}
